<!-- Airbnb clone using Bootstrap 4 and Custom CSS -->

<!-- Bootstrap 4 is the newest version of Bootstrap, which is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first websites.

Bootstrap 4 is completely free to download and use! -->

<!-- What is Bootstrap?  -->

<!-- Bootstrap is a free front-end framework for faster and easier web development.

Bootstrap includes HTML and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins.

Bootstrap also gives you the ability to easily create responsive designs. -->

<!DOCTYPE html>
<html>
  <head>
    <!-- The name between <title> tag defines the title of the document. -->
    <title>
      Alquiler de alojamientos vacacionales, casas, apartamentos y experiencias
    </title>

    <!-- Bootstrap 4 is designed to be responsive to mobile devices. Mobile-first styles are part of the core framework.

		To ensure proper rendering and touch zooming, add the following <meta> tag inside the <head> element: -->

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap link -->

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- Font selection link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- Font selection link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- The Styles used has been stored and saved in another file named "style.css" and linked through <link> tag as shown below: -->

    <link rel="stylesheet" href="/style/lodging-profile.css" />
    <!--Airbnb icon-->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/sources/Airbnb icon.ico"
    />
  </head>
  <body class="background_img">
    <!-- This is to display the Navbar of the website. -->

    <%- include('partials/navbar.ejs')%>
    <hr class="change_line" />

    <!-- End of NavBar -->

    <!-- Body -->
    <div class="principal-container">
      <%if(property!=''){%>
      <div class="information-profile">
        <img class="principal-img-profile" src="<%=property.source%>" alt="" />
        <!--Second column-->
        <div class="reservation-details">
          <p style="padding: 25px; position: relative; left: 15px">
            <strong>$<%=property.price%>.00 USD</strong> noche
          </p>
          <!--Formulario-->
          <form
            action="/pay"
            method="POST"
            class="mt-3 rounded form-details"
            style="
              max-width: 420px;
              padding: 30px 30px 60px 30px;
              background-color: white;
              font-family: Helvetica;
              font-weight: 600;
              color: #484848;
            "
          >
            <div class="input-group-prepend" style="font-size: small">
              <label>Llegada</label> &emsp; &emsp; &emsp; &emsp; &emsp; &emsp;
              &emsp; &emsp; <label>Salida</label><br />
            </div>

            <input
              class="form-control"
              type="number"
              name="propertyId"
              value="<%=property.id%>"
              hidden
            />
            <div class="input-group" style="font-size: small">
              <input
                class="form-control"
                type="date"
                placeholder="dd-mm-yyyy"
                name="checkin"
                id="checkin"
                value=""
              />
              <input
                class="form-control"
                type="date"
                placeholder="dd-mm-yyyy"
                name="checkout"
                id="checkout"
                value="00/00/0000"
              />
            </div>
            <br />
            <!-- <div class="form-group" style="font-size: small">
              <label>Hu&eacutespedes</label><br />
              <select class="custom-select mt-1">
                <option selected>
                  Seleccione la cantidad de hu&eacutespedes
                </option>
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
                <option value="five">5</option>
                <option value="more1">More...</option></select
              ><br />
            </div> -->
            <!-- Set up a container element for the button -->
            <div id="paypal-button-container"></div>
          </form>
          <p class="form-details advise-details">
            No se hará ningún cargo por el momento
          </p>
          <div class="div-price">
            <p class="result-price" id="price_per_night">
              <!-- <u>$350 USD x 5 noches</u> -->
            </p>
            <p class="result-price" id="total_price_night"></p>
          </div>
          <div class="div-price">
            <p class="result-price"><u>Tarifa por servicio</u></p>
            <p class="result-price" id="fee"></p>
          </div>
          <hr
            class="result-price"
            style="border-top: 2px solid #000000; width: 400px; margin: 0 auto"
          />
          <div class="div-price">
            <p class="result-price">
              <strong>Total sin incluir impuestos</strong>
            </p>
            <p class="result-price" id="total_price">
              <strong></strong>
            </p>
          </div>
        </div>
        <!--First column-->
        <div class="details-profile">
          <h4>
            <%=property.provincia%> Anfitrión: <%=property.name%>
            <%=property.lastname%>
          </h4>
          <ul class="list-description">
            <li><%=property.adults%> huéspedes</li>
            <li><%=property.rooms%> habitaciones</li>
            <li><%=property.beds%> camas</li>
            <li><%=property.baths%> baños</li>
          </ul>
          <hr style="border-top: 2px solid #000000" />
          <ul>
            <li class="letter-details-profile">
              <h4 class="letter-details-profile">
                <span class="material-symbols-outlined">meeting_room</span>
                Acceso sin restricción de horario
              </h4>
              <p class="letter-details-profile">
                Realiza la llegada fácilmente con ayuda del portero.
              </p>
            </li>
            <li class="letter-details-profile">
              <h4 class="letter-details-profile">
                <span class="material-symbols-outlined">workspace_premium</span>
                Steven tiene la categoría de Superanfitrión
              </h4>
              <p class="letter-details-profile">
                Los Superanfitriones tienen mucha experiencia, cuentan con
                valoraciones excelentes y se esfuerzan al máximo para ofrecerles
                a los huéspedes estadías maravillosas.
              </p>
            </li>
            <li class="letter-details-profile">
              <h4 class="letter-details-profile">
                <span class="material-symbols-outlined">location_on</span>
                Ubicación fantástica
              </h4>
              <p class="letter-details-profile">
                La mayoria de los últimos huéspedes han valorado a favor del
                hospedaje
              </p>
            </li>
          </ul>
          <hr style="border-top: 2px solid #000000" />
          <h4>¿Dónde vas a dormir?</h4>
          <div class="photo-place">
            <div>
              <img
                src="/sources/lodging-examples/hospedajes1.1.jpg"
                class="img-place"
                alt=""
              />
              <h4>Habitacion 1</h4>
              <p>1 cama king</p>
            </div>
            <div>
              <img
                src="/sources/lodging-examples/hospedajes1.2.jpg"
                class="img-place"
                alt=""
              />
              <h4>Habitacion 2</h4>
              <p>1 cama king</p>
            </div>
          </div>
          <hr style="border-top: 2px solid #000000" />
          <h4>Lo que este lugar ofrece</h4>
          <ul>
            <li class="letter-details-profile">
              <h4 class="letter-details-profile">
                <span class="material-symbols-outlined">water</span> Vista al
                mar
              </h4>
            </li>
            <li class="letter-details-profile">
              <h4 class="letter-details-profile">
                <span class="material-symbols-outlined">sailing</span> Acceso a
                playa Privado - Frente a la playa
              </h4>
            </li>
            <li class="letter-details-profile">
              <h4 class="letter-details-profile">
                <span class="material-symbols-outlined">wifi</span> Wifi
              </h4>
            </li>
            <li class="letter-details-profile">
              <h4 class="letter-details-profile">
                <span class="material-symbols-outlined">pool</span> Piscina
                Privado, exterior: disponible, abierto las 24 horas
              </h4>
            </li>
            <li class="letter-details-profile">
              <h4 class="letter-details-profile">
                <span class="material-symbols-outlined">panorama</span> Vista al
                océano
              </h4>
            </li>
            <li class="letter-details-profile">
              <h4 class="letter-details-profile">
                <span class="material-symbols-outlined">directions_car</span>
                Estacionamiento gratuito en las instalaciones
              </h4>
            </li>
          </ul>
        </div>
      </div>
      <%}%>
    </div>
    <!-- Include the PayPal JavaScript SDK -->
    <script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>

    <script>
      document.getElementById("checkin").onchange = () => {
        var paypalButton = document.getElementById("paypal-button-container");
        paypalButton.innerHTML = "";
      };

      document.getElementById("checkout").onchange = () => {
        var paypalButton = document.getElementById("paypal-button-container");

        var checkout = new Date(document.getElementById("checkout").value);

        var checkin = new Date(document.getElementById("checkin").value);

        var pricePerNight = document.getElementById("price_per_night");

        var totalPrice = document.getElementById("total_price");

        var totalPriceNight = document.getElementById("total_price_night");

        var fee = document.getElementById("fee");

        if (checkin < checkout) {
          if (paypalButton.innerHTML != "") {
            paypalButton.innerHTML = "";
          }

          var diffDays = parseInt(
            (checkout - checkin) / (1000 * 60 * 60 * 24),
            10
          );

          var tPriceNightValue = diffDays * `<%=property.price%>`;

          var feeValue = parseInt(tPriceNightValue * 0.15, 10);

          var totalValue = tPriceNightValue + feeValue;

          // precio por noche
          pricePerNight.innerHTML = `<u>$<%=property.price%>.00 USD x ${diffDays} noches</u>`;
          // precio total por noche
          totalPriceNight.innerHTML = `$${tPriceNightValue}.00 USD`;
          //   Se agrega el costo por el servicio
          fee.innerHTML = `$${feeValue}.00 USD`;

          totalPrice.innerHTML = `$${totalValue}.00 USD`;

          if ("<%=historialRents%>" == "") {
            console.log("No tiene reservaciones");
            if ("<%=userLogged%>" == "true") {
              paypal
                .Buttons({
                  createOrder: function (data, actions) {
                    const orderJson = { amount: totalValue };
                    return fetch("/api/orders", {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify(orderJson),
                    })
                      .then((response) => response.json())
                      .then((response) => {
                        return response.id;
                      });
                  },

                  // Finalize the transaction
                  onApprove: function (data, actions) {
                    const trasacJson = {
                      propertyId: "<%=property.id%>",
                      checkinDate: checkin,
                      checkoutDate: checkout,
                      amount: totalValue,
                    };

                    return fetch(`/api/orders/${data.orderID}/capture`, {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify(trasacJson),
                    })
                      .then((response) => response.json())
                      .then(function (orderData) {
                        window.location.assign(
                          "/lodging-profile?id=<%=property.id%>"
                        );
                      });
                  },
                  style: {
                    layout: "horizontal",
                    color: "blue",
                    label: "pay",
                    height: 40,
                  },
                })
                .render("#paypal-button-container");
            } else {
              alert("Debe tener una sesion iniciada para reservar");
            }
          } else {
            var historialRents = JSON.parse(
              `<%-JSON.stringify(historialRents)%>`
            );

            if (historialRents["id"] != undefined) {
              if ("<%=userLogged%>" == "true") {
                paypal
                  .Buttons({
                    createOrder: function (data, actions) {
                      const orderJson = { amount: totalValue };
                      return fetch("/api/orders", {
                        method: "POST",
                        headers: {
                          "Content-Type": "application/json",
                        },
                        body: JSON.stringify(orderJson),
                      })
                        .then((response) => response.json())
                        .then((response) => {
                          return response.id;
                        });
                    },

                    // Finalize the transaction
                    onApprove: function (data, actions) {
                      const trasacJson = {
                        propertyId: "<%=property.id%>",
                        checkinDate: checkin,
                        checkoutDate: checkout,
                        amount: totalValue,
                      };

                      return fetch(`/api/orders/${data.orderID}/capture`, {
                        method: "POST",
                        headers: {
                          "Content-Type": "application/json",
                        },
                        body: JSON.stringify(trasacJson),
                      })
                        .then((response) => response.json())
                        .then(function (orderData) {
                          window.location.assign(
                            "/lodging-profile?id=<%=property.id%>"
                          );
                        });
                    },
                    style: {
                      layout: "horizontal",
                      color: "blue",
                      label: "pay",
                      height: 40,
                    },
                  })
                  .render("#paypal-button-container");
              } else {
                alert("Debe tener una sesion iniciada para reservar");
              }
            } else {
              console.log("Tiene multiples reservaciones");

              var existRent = false;

              var dateExistenceRent = "";

              historialRents.forEach((rent) => {
                if (!existRent) {
                  var rentDate = new Date(rent.rental_date);
                  var returnDate = new Date(rent.return_date);

                  dateExistenceRent = `Existe una reservacion entre el dia ${rentDate.toLocaleDateString(
                    "do-DO"
                  )} y ${returnDate.toLocaleDateString("do-DO")}`;

                  var isFree = false;

                  // la fecha de checkin no puede ser antes de la fecha de retorno de otra renta.
                  if (
                    checkin.getTime() < rentDate.getTime() &&
                    checkout.getTime() < rentDate.getTime()
                  ) {
                    isFree = true;
                    return;
                  }
                  if (
                    checkin.getTime() > returnDate.getTime() &&
                    checkout.getTime() > returnDate.getTime()
                  ) {
                    isFree = true;
                    return;
                  }
                  existRent = true;
                }
              });

              if (existRent) alert(dateExistenceRent);
              else {
                if ("<%=userLogged%>" == "true") {
                  paypal
                    .Buttons({
                      createOrder: function (data, actions) {
                        const orderJson = { amount: totalValue };
                        return fetch("/api/orders", {
                          method: "POST",
                          headers: {
                            "Content-Type": "application/json",
                          },
                          body: JSON.stringify(orderJson),
                        })
                          .then((response) => response.json())
                          .then((response) => {
                            return response.id;
                          });
                      },

                      // Finalize the transaction
                      onApprove: function (data, actions) {
                        const trasacJson = {
                          propertyId: "<%=property.id%>",
                          checkinDate: checkin,
                          checkoutDate: checkout,
                          amount: totalValue,
                        };

                        return fetch(`/api/orders/${data.orderID}/capture`, {
                          method: "POST",
                          headers: {
                            "Content-Type": "application/json",
                          },
                          body: JSON.stringify(trasacJson),
                        })
                          .then((response) => response.json())
                          .then(function (orderData) {
                            window.location.assign(
                              "/lodging-profile?id=<%=property.id%>"
                            );
                          });
                      },
                      style: {
                        layout: "horizontal",
                        color: "blue",
                        label: "pay",
                        height: 40,
                      },
                    })
                    .render("#paypal-button-container");
                } else {
                  alert("Debe tener una sesion iniciada para reservar");
                }
              }
              existRent = false;
            }
          }
        } else {
          paypalButton.innerHTML = "";
        }
      };
      //   $("#checkin").change();
    </script>
    <%if(sessionSuccess!='' && sessionSuccess!=undefined){%>
    <script>
      alert("<%=sessionSuccess%>");
    </script>
    <%}%>
    <!--Footer-->
    <hr class="footer-container" />
    <div class="container" style="margin-top: 70px">
      <div class="row">
        <div class="col-md-3">
          <section>
            <h6 style="margin-left: 40px">Airbnb</h6>
            <ul style="list-style: none">
              <li><a href="/help">Ayuda</a></li>
              <li><a href="#">Pol&iacuteticas</a></li>
              <li><a href="#">T&eacuterminos</a></li>
              <li><a href="#">Privacidad</a></li>
            </ul>
          </section>
        </div>
        <div class="col-md-3">
          <section>
            <h6 style="margin-left: 40px">Descubrir</h6>
            <ul style="list-style: none">
              <li><a href="#">Confianza y seguridad</a></li>
              <li><a href="#">Mapa del sitio</a></li>
            </ul>
          </section>
        </div>
        <div class="col-md-3">
          <section>
            <h6 style="margin-left: 40px">Alojamiento</h6>
            <ul style="list-style: none">
              <li><a href="#">Por qu&eacute anfitri&oacuten/a</a></li>
              <li><a href="#">Alojamiento Responsable</a></li>
              <li>
                <a href="#">Casas abiertas</a>&emsp;<a href="#"
                  ><button type="button" class="btn btn-primary new">
                    New
                  </button></a
                >
              </li>
            </ul>
          </section>
        </div>
        <div class="col-md-3">
          <section>
            <h5 style="margin-left: 40px">
              <a
                href="https://es-la.facebook.com/airbnb/"
                target="_blank"
                style="color: #3b5998"
                ><i class="fa fa-facebook" style="padding-right: 20px"></i
              ></a>
              <a
                href="https://twitter.com/airbnb"
                target="_blank"
                style="color: #00acee"
                ><i class="fa fa-twitter" style="padding-right: 20px"></i
              ></a>
              <a
                href="https://www.instagram.com/airbnb/"
                target="_blank"
                style="color: #d6249f"
                ><i class="fa fa-instagram" style="padding-right: 20px"></i
              ></a>
            </h5>
            <ul style="list-style: none">
              <li><a href="#">Reseñas</a></li>
              <li><a href="#">Sugerencias</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
